.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  padding: 4px;
}

.round:first-child {
  margin-top: 16px;
}

.round:not(:last-child) {
  margin-bottom: 16px;
}

.group {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 10px;
  border: 1px solid black;
}

.participant {
  padding: 4px 8px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.button:disabled {
  background-color: lightgrey;
}

.groupSize {
  font-size: 58px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}
